<%- include('../partials/header') %>

<a href="/skills">Back to Skills</a>
<br>

<form id="new-form" action="/skills" method="POST">
    Skill:  <input id="skill" type="text" name="skill">
    Description:  <input id="descr" type="text" name="descr">
    <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>