<%- include('../partials/header') %>

<form action="/skills" method="POST">
    Skill:  <input type="text" name="skill">
    Description:  <input type="text" name="descr">
    <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>